                <listar-produto
                    header-text="Productos"
                    allow-empty='false'
                    value="formData.produtos"          
                    text="elitem"
                    items="itenslist"
                    ng-model="formData.produtos"
                    carrega="fitens()"
                    total="formData.total"
                    buscando="formData.buscaitens"
                    deletar="formData.deletaritens">
                </listar-produto>
      